.songs-list {
  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__song-item {
    display: flex;
    align-items: center;
    gap: 10px;

    &:not(:last-child) {
      padding-bottom: 10px;
      border-bottom: 1px solid gray;
    }
  }
}